<div id="header">
	<div class="centered_content">
		<%= render partial: 'shared/ui/header/social/social' %>
		<%= render partial: 'shared/ui/header/menu/menu' %>
		<div class="clear"></div>
	</div>
</div>