<div class="home_slide" id="loopa_slide" data-color="#63841B">
	<div class="slide_element background" data-src="<%= image_url 'app/slider/loopa/bg.png' %>" data-from-opacity="0" data-to-opacity="1" width="465" height="330" data-interval="800" data-delay="500"></div>
	<div id="loopa_slide_logo" class="slide_element" data-src="<%= image_url 'app/slider/loopa/logo.png' %>" data-from-top="-62" data-to-top="4" width="122" height="59" data-interval="800" data-delay="1200" data-easing="easeOutExpo"></div>
	<div id="loopa_slide_earth" class="slide_element" data-src="<%= image_url 'app/slider/loopa/earth.png' %>" data-from-left="465" data-to-left="50" width="169" height="172" data-interval="500" data-delay="1700" data-easing="easeOutCubic"></div>
	<div id="loopa_slide_tag" class="slide_element" data-from-top="330" data-to-top="269" data-interval="800" data-delay="2200" data-easing="easeOutExpo">
		<%= t 'app.views.home.slider.loopa.tag' %>
	</div>
</div>