<div id="header_social">
<% _t('app.social_links').each do |key, val| %>
	<%= render partial: 'shared/ui/header/social/element', locals: { key: key, val: val } %>
<% end %>
	<div class="clear"></div>
</div>