@import 'shared.css.scss';
#contact{
	color: #898989;
	#contact_label{
		font-size: 12px;
		line-height: 1.3em;
		margin: 0 0 15px 0;
	}
	#contact_container{
		margin: 30px 0 0 0;
	}
	.contact_view{
		display: none;
		&#contact_form_view{
			display: block;
		}
		&#contact_success_view{
			border: 1px solid #EAEAEA;
			#contact_success_header{
				@include background-gradient(#FEFEFE, #F3F3F3);
				border-bottom: 1px solid #EAEAEA;
				height: 30px;
			}
			h1#contact_success_title{
				font-size: 14px;
				font-weight: $bold;
				display: block;
				float: left;
				margin: 8px 0 0 7px;
			}
			p#contact_success_legend{
				padding: 10px;
				font-size: 12px;
				line-height: 1.3em;
			}
		}
	}
	form#contact_form{
		.field_wrapper{
			margin: 0 0 20px 0;
			&.top_margin{
				margin: 40px 0 20px 0;
			}
		}
		.field{
			display: block;
			.field_errors{
				color: #B94A48;
				font-size: 11px;
				margin: 4px 0 0 8px;
				line-height: 1.2em;
				display: block;
			}
			&.half{
				width: 220px;
				float: left;
				&.first{
					margin: 0 20px 0 0;
				}
			}
			input[type="text"], textarea{
				border: 0 none;
				color: #555555;
				font-size: 13px;
				font-family: $font-family;
				width: 100%;
				padding: 3px 4px 6px 4px;
				border-bottom: 1px solid #CFD0D0;
			}
			textarea{
				border: 1px solid #CFD0D0;
			}
		}
		.form_actions{
			input[type="submit"]{
				float: right;
				border: 0 none;
			}
		}
	}
}