<div class="splash_slide" id="compass_slide" data-color="#000000">
	<div class="slide_element background" data-src="<%= image_url 'app/slider/compass/bg.png' %>" data-from-opacity="0" data-to-opacity="1" width="465" height="330" data-interval="800" data-delay="500"></div>
</div>
