@import 'shared.css.scss';
body{
	background: none repeat scroll 0 0 #FFFFFF;
	font-family: $font-family;
}
#container{
	min-width: 960px;
	@include link('.button') {
		@include background-gradient($base-from, $base-to);
		@include border-radius(3px, 3px, 3px, 3px);
		border: 0 none;
		color: #FFFFFF;
		font-size: 15px;
		padding: 10px 15px;
		cursor: pointer;
	}
	.button:hover{
		@include background-gradient($base-from, $base-hover);
	}
	@include link('.button.disabled') {
		@include background-gradient(#36B1F9, #1370A8);
		color: #2272A1;
		cursor: auto;
	}
	h1.not_found{
		color: #AAAAAA;
		font-size: 12px;
		padding: 20px 0;
		text-align: center;
	}
	h1.view_title{
		color: #AAAAAA;
		font-size: 25px;
		margin: 0 0 15px 0;
		display: block;
	}
	h2{
		color: #353535;
		font-size: 16px;
		display: block;
		font-weight: 600;
	}
	.centered_content{
		width: 960px;
		margin: 0 auto;
	}
	#header{
		background: none repeat scroll 0 0 #F6F6F6;
		height: 60px;
		width: 100%;
		border-bottom: 1px solid #EAEAEA;
		#header_social{
			float: left;
			margin: 16px 0 0 15px;
		}
		#header_menu{
			float: right;
			margin: 30px 15px 0 0;
			height: 30px;
			position: relative;
			display: none;
			#header_menu_active{
				display: none;
				position: absolute;
				width: 24px;
				height: 10px;
				left: 0px;
				top: 30px;
				img{
					display: block;
					width: 24px;
					height: 10px;
				}
			}
			@include link('a.header_menu_element') {
				text-decoration: none;
				padding: 0 25px;
				float: left;
				text-align: center;
				border: 0 none;
				outline: none;
				color: #B5B5B5;
				font-size: 12px;
			}
			a.header_menu_element:hover{
				color: #777777;
			}
			@include link('a.header_menu_element.active') {
				font-weight: $bold;
				color: #555555;
			}
		}
	}
	@include link('a.social_link') {
		text-decoration: none;
		display: block;
		float: left;
		width: 25px;
		height: 25px;
		overflow: hidden;
		border: 0 none;
		outline: none;
		position: relative;
		margin: 0 5px 0 0;
	}
	a.social_link img{
		width: 25px;
		height: 50px;
		position: absolute;
		display: block;
		border: 0 none;
		outline: none;
		left: 0px;
		top: 0px;
	}
	a.social_link:hover img{
		top: -25px;
	}
	#wrapper{
		margin: 50px 0;
		overflow: hidden;
		.wrapper_col{
			float: left;
			margin: 0 0 -8000px 0;
			padding: 0 0 8000px 0;
		}
		#wrapper_left_col{
			width: 410px;
			border-right: 1px solid #EAEAEA;
		}
		#wrapper_right_col{
			width: 525px;
		}
		.wrapper_col_inner{
			padding: 20px 0;
		}
		.inner_content{
			padding: 0 30px;
		}
		@include link('a#wrapper_logo') {
			width: 300px;
			height: 70px;
			display: block;
			border: 0 none;
			outline: none;
			margin: 0 0 10px 0;
		}
		a#wrapper_logo img{
			width: 300px;
			height: 70px;
			display: block;
			border: 0 none;
			outline: none;
		}
		#wrapper_info{
			color: $base-font-color;
			font-size: 11px;
			line-height: 1.8em;
			margin: 0 0 20px 0;
			p{
				margin: 0 0 10px 0;
			}
		}
		@include link('a.wrapper_button') {
			@include border-radius(3px, 3px, 3px, 3px);
			display: block;
			float: left;
			border: 0 none;
			outline: none;
			padding: 4px 25px;
			margin: 0 30px;
		}
		a.wrapper_button{
			&.blue{
				@include background-gradient(#36B1F9, #1370A8);
				&:hover{
					@include background-gradient(#4CC6FF, #0078B0);
				}
			}
			&.green{
				@include background-gradient(#98D463, #66891D);
				&:hover{
					@include background-gradient(#9DDA67, #70971F);
				}
			}
			&.blue_green{
				@include background-gradient(#00A895, #00595E);
				margin-left: 114px;
				margin-top: 30px;
				float:left;
				&:hover{
					@include background-gradient(#40C7A9, #036760);
				}
			}
			img{
				display: block;
				border: 0 none;
				outline: none;
				width: 60px;
				height: 60px;
			}
		}
	}
	#footer{
		margin: 50px 0 30px 0;
		#footer_copyright{
			background: none repeat scroll 0 0 #F5F5F5;
			padding: 4px 3px;
			width: 210px;
			margin: 0 auto;
			display: block;
			color: #C1C1C1;
			font-size: 11px;
			text-align: center;
			@include border-radius(3px, 3px, 3px, 3px);
		}
	}
}
