<div class="centered_content">
	<div id="wrapper">
		<%= render partial: 'shared/ui/wrapper/col/left' %>
		<%= render partial: 'shared/ui/wrapper/col/right' %>
		<div class="clear"></div>
	</div>
</div>